.signing-form {
  border-radius: 10px;
  margin: 80px;
  h2{
    background-color: #020024;
    color: white;
    text-transform: uppercase;
    width: 150px;
    padding: 20px;
    font-size: 20px;
    margin: 0 auto;
  }
}

.get-in-touch{
  height: 300px;
}

.links-forms {
  padding: 10px 0 55px 0;
  display: flex;
  justify-content: center;
  a {
    margin: 8px;
    font-size: 14px;
    color: #900048;
    text-transform: uppercase
  }
  a:hover{
    font-weight: bold;
    text-decoration: none
  }
}

.links-forms:hover {
  padding: 10px 0 55px 0;
  display: flex;
  justify-content: center;
  a {
    font-size: 14px;
  }
}

.box-devise {
  background-color: #2b5c9c;
  color: white;
  padding: 20px;
  border-radius: 4px;
  margin: 50px auto;
}

