.page{
  min-height: 90vh
}

.pic-payment {
  height: 364px;
}

.payment-title{
  text-align: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.box-payment{
  padding: 25px;
}

.payment-title h1{
 font-family: 'Carrois Gothic', 'sans serif';
 text-transform: uppercase
}

.teacher-info{
  h2{
    font-size: 18px
  }
}

.pink-text > h4{
  font-size: 16px
}

.lesson-description > h3{
  font-size: 18px
}

.error-msg{
  margin-top: 60px;
}
