.pic-payment {
  height: 300px;
}

.payment-title{
  text-align: left;
}

.box-payment{
  margin: 100px;
  margin-top: 130px
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.box-content{
  padding: 25px;
}

.payment-title h1{
 font-family: 'Carrois Gothic', 'sans serif';
}

.lesson-description {
  color: #646377;
  h2 {
    color: #020024;
    font-size: 18px
  }
}

.teacher-info{
  h2{
    font-size: 18px
  }
}

.lesson-name {
  h4 {
    font-size: 20px
  }
}

.lesson-time {
  h4 {
    font-size: 20px
  }
}

.lesson-price {
  h4 {
    font-size: 20px
  }
}

.teacher-name {
  h4 {
    font-size: 20px
  }
}

