<!-- <div class="pager"> -->
  <!-- <div class="container"> -->
    <div class="wrapper">
      <div class="grouping">
        <div class="title-container">
          <div class="text-center">
            <div class="title-booking">
              <h1>Congratulations on your order!</h1>
              <h4>-pathway to Wisdom-</h4>
            </div>
          </div>
        </div>
        <div class="booking-info">
          <div class="text-center">
            <div class="info-list">
              <ul>
                <div class="lesson-name">
                  <li><h2>ITEM: <%= @booking.lesson.name %></h2></li>
                </div>
                <div class="booking-price">
                  <li><h2>AMOUNT: <%= humanized_money_with_symbol(@booking.amount_cents) %></h2></li>
                </div>
              </ul>
            </div>
          </div>
          <div class="call-to-action text-center">
            <%= link_to "Access your lesson", lesson_video_path(@booking.lesson), class: "btn btn-custom" %>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <svg viewBox="0 0 3387 1270">
      <path id="planePath" class="planePath" d="M-226 626c439,4 636,-213 934,-225 755,-31 602,769 1334,658 562,-86 668,-698 266,-908 -401,-210 -893,189 -632,630 260,441 747,121 1051,91 360,-36 889,179 889,179" />
      <g id="plane">
        <polygon class="fil1" points="-141,-10 199,0 -198,-72 -188,-61 -171,-57 -184,-57 " />
        <polygon class="fil2" points="199,0 -141,-10 -163,63 -123,9 " />
        <polygon class="fil3" points="-95,39 -113,32 -123,9 -163,63 -105,53 -108,45 -87,48 -90,45 -103,41 -94,41 " />
        <path class="fil4" d="M-87 48l-21 -3 3 8 19 -4 -1 -1zm-26 -16l18 7 -2 -1 32 -7 -29 1 11 -4 -24 -1 -16 -18 10 23zm10 9l13 4 -4 -4 -9 0z" />
        <polygon class="fil1" points="-83,28 -94,32 -65,31 -97,38 -86,49 -67,70 199,0 -123,9 -107,27 " />
      </g>
      <animateMotion xlink:href="#plane" dur="5s" repeatCount="indefinite" rotate="auto">
        <mpath xlink:href="#planePath" />
      </animateMotion>
    </svg>

