<div class="page">
  <div class="container">
    <div class="banner-title text-center">
      <div class="title">
        <h1>Congratulations on your order!</h1>
      </div>
      <div class="booking-info">
        <div class="info-list">
          <ul>
            <div class="booking-status">
              <li>Status: <%= @booking.state %></li>
            </div>
            <div class="lesson-name">
              <li>Item: <%= @booking.lesson.name %></li>
            </div>
            <div class="booking-price">
              <li>Amount: <%= humanized_money_with_symbol(@booking.amount) %></li>
            </div>

</ul>
            </div>
          </div>
          <div class="btn btn-custom">
            <%= link_to "Access your lesson", lesson_path(@booking.lesson) %></p>
          </div>
        </div>
      </div>
    </div>
