<div class="header" style="  background-image: linear-gradient(-225deg, rgba(9,121,98,1) 30%, rgba(2,0,36,1) 30%), url(<%= image_path 'business-computer-desk-7060.jpg' %>);">
  <div class="header-content">
  <h3>WELCOME TO</h3>
  <h1>nomad teacher.</h1>
    <p>making it possible for the world to share their knowledge with the world</p>
    <%= link_to "Check out lessons", lessons_index_path, class: "btn btn-custom"%>
  </div>
</div>
