<div class="header" style="background-image: url(<%= image_path 'yogagirl.jpg' %>); object-fit: cover">
  <div class="header-content col-sm-3">
    <%= image_tag 'welcome_message.png' %>
    <%= link_to "CHOOSE A CLASS", lessons_path, class: "btn btn-custom"%>
  </div>
</div>
