
<%= render "shared/header" %>
<div class="container-icons">
  <div class="row">
    <div class="icon-container">
      <h2>How it works!</h2>
      <div class="icons">
      <div class="icon-info">
       <%= image_tag "logo.png", class: "icon" %>
       <h2>Find</h2>
       <p>Your dream is now a reality: get that toothbrush that was used by your favorite idol, first love, or best friend.</p>
     </div>
     <div class="icon-info">
      <%= image_tag "logo.png", class: "icon" %>
      <h2>Brush</h2>
      <p>Nothing more intimate than sharing your true passions and eating habits with others through saliva and toothpaste.</p>
    </div>
    <div class="icon-info">
     <%= image_tag "logo.png", class: "icon" %>
     <h2>Enjoy</h2>
     <p>Tell everyone about your booking - your tight circle will undoubdetly appreciate the throwback breath or your money back.</p>
   </div>
   </div>
 </div>
</div>
</div>
 <div class="container">
  <div class="row">
 <div class="col-xs-12 col-sm-7">
  <div class="home-intro-text-left">
    <h2>Check out our latest rentals</h2>
  </div>
  <div class="container-home-left">
    <%#= render "layouts/card" %>
  </div>
</div>
<div class="col-xs-12 col-sm-5">
 <div class="home-intro-text-right">
  <h2>Sneak peak into our user's thoughts</h2>
</div>
<div class="container-home-right">
  <%#= render "layouts/reviews" %>
</div>
</div>
</div>
</div>
<div class="map-title">
  <h2>Join the brushare community!</h2>
</div>
<div class="map-container">
  <div class="mapping">
   <!--  <div
    id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%#= @markers.to_json %>"
    ></div> -->
  </div>
</div>
</div>


