<%= render "shared/header" %>
<div class="container-icons">
  <div class="row">
    <div class="icon-container">
      <!-- <div class=""> -->
      <div class="gtext-center">
      <h2>HOW IT WORKS</h2>
      </div>
      <!-- </div> -->
      <div class="icons">
        <div class="icon-info">
         <%= image_tag "lessons.png", class: "icon" %>
         <h2>Find</h2>
         <p>Dip into other people's knowledge - check out what people from all over the globe have to teach.</p>
       </div>
       <div class="icon-info">
        <%= image_tag "pick_lesson.png", class: "icon" %>
        <h2>Select</h2>
        <p>Pick that subject you've been meaning to learn and shape your brain to your ultimate life goals.</p>
      </div>
      <div class="icon-info">
       <%= image_tag "learn.png", class: "icon" %>
       <h2>Learn</h2>
       <p>Become a master in your chosen field. Dive, explore, rejoice in your newly-acquired knowledge.</p>
     </div>
   </div>
 </div>
</div>
</div>

