
<%= render "shared/header" %>
<div class="container-icons">
  <div class="row">
    <div class="icon-container">
      <h2>HOW IT WORKS</h2>
      <div class="icons">
        <div class="icon-info">
         <%= image_tag "lessons.png", class: "icon" %>
         <h2>Find</h2>
         <p>Look inside our vast array of classes to choose from based on your own interests and learning desires.</p>
       </div>
       <div class="icon-info">
        <%= image_tag "pick_lesson.png", class: "icon" %>
        <h2>Pick</h2>
        <p>Pick that subject you've been meaning to learn for a long time, shape your brain to your ultimate goals.</p>
      </div>
      <div class="icon-info">
       <%= image_tag "learn.png", class: "icon" %>
       <h2>Learn</h2>
       <p>Learn from people from all over the world, become a master in your chosen field.</p>
     </div>
   </div>
 </div>
</div>
</div>
<!-- <div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-7">
    <div class="home-intro-text-left">
      <h2>Check out our latest rentals</h2>
    </div>
    <div class="container-home-left">
      <%#= render "layouts/card" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-5">
   <div class="home-intro-text-right">
    <h2>Sneak peak into our user's thoughts</h2>
  </div>
  <div class="container-home-right">
    <%#= render "layouts/reviews" %>
  </div>
</div>
</div>
</div>
<div class="map-title">
  <h2>Join the brushare community!</h2>
</div>
<div class="map-container">
  <div class="mapping">
    <div
    id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%#= @markers.to_json %>"
    ></div>
  </div>
</div> -->
</div>


