<div class="index-page">
  <div class="container">
    <div class="banner-title-show text-center">
      <h1>Enjoy <%= @lesson.name.upcase %> ⚡️</h1>

    </div>
    <div class="row">
      <div class="text-center">
        <div class="video-container">
          <iframe width="750" height="510"
          src="https://www.youtube.com/embed/<%= @lesson.video_url %>">
        </iframe>
      </div>
      <%= link_to "more classes?", lessons_path, class: "btn btn-custom"  %>
    </div>
  </div>
</div>

