<div class="index-page">
  <div class="container">
    <div class="banner banner-index">
      <div class="title-index">
        <h1>What do you want to learn about today?</h1>
      </div>
    </div>
    <div class="listings">
      <div class="container-cards">
        <%= render "shared/card" %>
      </div>
    </div>
  </div>
</div>
