<div class="container">
  <div class="row">
   <div class="banner-content">
    <h1 class="text-center"><%= @lesson.name %></h1>
  </div>
  <div class="col-xs-6">
    <div class="banner" style="background-image: url('<%=cl_image_path @lesson.picture, crop: :fill %>');">
    </div>
    <!-- <div class="your-brush-options text-center">
      <%# if user_signed_in? %>
        <%# if policy(@toothbrush).edit? %>
          <h2>This is your brush</h2>
          <div class="btn btn-custom text-center">
            <%#= link_to "Edit", edit_toothbrush_path(@toothbrush) %>
          </div>
          <div class="btn btn-custom text-center">
            <%#= link_to "Delete", toothbrush_path, method: :delete %>
          </div>
        <%# end %>
      <%# else %>
        <div class="text-center">
           <h2>Are you a member?</h2>
          <%#= link_to "Log in to edit" , new_user_session_path, class: "btn btn-custom" %>
        </div>
      <%# end %>
    </div>
  </div>

    <div class="description-text col-xs-6">
      <div class="availability">
        <div class="price-availability">
          <h4>Available: <%# if @toothbrush.availability %>
            <i class="available-icon fas fa-check-circle"></i>
            <%# else %>
            <i class="unavailable-icon fas fa-times-circle"></i>
            <%# end %>
          </h4>
        </div>
        <h4>Price: <strong> <%#= @toothbrush.price %> $ </strong></h4>
      </div>
      <h2>About this brush</h2>
      <p><%#= @toothbrush.description %></p>

      <h2>Specs</h2>
      <div class="row">
        <div class="spec-list col-xs-9">
          <ul>
            <div class="col-xs-6">
              <li>
                <i class="spec-icon fas fa-calendar-check"></i>Age: <strong> <%#= @toothbrush.age %> days old</strong>
              </li>
              <li>
                <i class="spec-icon fas fa-users"></i>Used by: <strong> <%#= pluralize @toothbrush.people, "person" %></strong>
              </li>
            </div>
            <div class="col-xs-6">
              <li>
                <i class="spec-icon fas fa-certificate"></i>Material: <strong> <%#= @toothbrush.material %></strong>
              </li>
              <li>
                <i class="spec-icon fas fa-quidditch"></i>Brush-strength: <strong> <%#= @toothbrush.brush_strength %></strong>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div>
        <h2>
          Information about the owner
        </h2>
        <ul>
          <li>
            Name: <strong><%#= @toothbrush.user.first_name %></strong>
          </li>
          <li>
            Gender: <strong> <%#= @toothbrush.user.gender %></strong>
          </li>
          <li>
            Address: <strong> <%#= @toothbrush.user.address %></strong>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</div>










<!-- <div class="lesson-show">
  <div class="container-title-show">
    <div class="lesson-name">
      <h1><%#= @lesson.name %></h1>
    </div>
  </div>
  <div class="lesson-info">
    <div class="lesson-description">
      <p><%#= @lesson.description %></p>
    </div>
    <div class="lesson-price">
      <p><%#= @lesson.pricing %> EUROS</p>
    </div>
  </div>
</div>
 -->
