* {
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background-color: #020024;
  background-size: cover;
  h1 {
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
    font-size: 47px;
  }
  p {
    font-size: 24px;
    color: #eaf5ff85;
  }
  .btn-custom {
    margin-left: 150px
  }
}


.header-content {
  // padding: 70px 0px;
  text-align: center;
  // margin-left: 500px;
  img {
    height: 250px

  }
}

.header-content img{
  margin-top: 100px;
}

.btn-custom {
  color: #eff0f4;
  letter-spacing: 1px;
  font-weight: 400;
  background-color: #900048;
  // border-color: #ea1f62;
  border-radius: 51px;
  width: 200px;
  font-family: 'Carrois Gothic';
  a {
    color: white;
  }
}

.btn:hover{
  color: #74dbef;
  text-decoration: none;
  font-family: 'Carrois Gothic';
  font-weight: bold;
  border: #ff4057;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-style: double;
}
