.title-index {
  h1{
    font-family: 'Carrois Gothic', 'sans serif';
    // font-size: 28px;
  }
}

.index-page{
  // background: #606c88;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #ededf7
}

.banner-index{
  margin-top: 25px;
  text-align: center;
  width: 100vw;
  // background-color: #cad1d7
  h1{
  // background-color: #020024;
  // padding: 20px;
  color: #020024
  }
}

.listings{
  background-color: #cad1d7
}

.container-cards{
  background-color: #cad1d7
}
