.title-index {
  h1{
    font-family: 'Carrois Gothic', 'sans serif';
  }
}

.index-page{
  background-color: #cad1d7
}

.banner-index{
  text-align: center;
  width: 100vw;
  // background-color: #cad1d7
  h1{
  background-color: #020024;
  padding: 20px;
  color: #cad1d7
  }
}

.listings{
  background-color: #cad1d7
}

.container-cards{
  background-color: #cad1d7
}
