.description-text{
  h2 {
    font-size: 25px;
    font-family: 'Carrois Gothic', 'sans serif'
  }
  h4 {
    font-size: 20px
  }
  p {
    font-family: 'Cutive Mono', 'sans serif';
  }
}

.banner-title {
  margin-top: 50px;
  text-align: center;
}

.lesson-pic{
  border-radius: 10px;
  box-shadow: 10px 10px 5px -7px rgba(135,123,135,1);
}

.purchase-btn {
  margin-top: 20px
}

// h1 {
//     font-family: 'Carrois Gothic', 'sans serif'
//   }
//   p {
//     font-family: 'Cutive Mono', 'sans serif';
